@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --Blue500: hsl(223, 87%, 63%);
  --Blue200: hsl(223, 100%, 88%);
  --Red400: hsl(354, 100%, 66%);
  --Gray400: hsl(0, 0%, 59%);
  --Blue950: hsl(209, 33%, 12%);
}
@font-face {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;

  font-family: 'Libre Franklin', sans-serif;
  color: var(--Gray400);

  width: 100vw;
  height: 100vh;
}