.footer{
    color: var(--Gray400);
}
.footer a {
    display: inline-block;
    transform: scale(1);
    margin: initial;
    transition: transform  .2s,
                margin .2s;
}
.footer a:hover {
    transform: scale(1.1);
    margin: 0 .4rem;
}
.footer a:link{
    color: hsla(0, 0%, 37%, 100%);
}
.footer a:visited{
    color: hsla(0, 0%, 50%, 100%);
}

@media(width < 1000px){
    p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}