.inputWrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  padding: 0;
  margin-bottom: 5.3rem;
}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* margin-bottom: -2rem; */
}
.inputWrapper input {
  font-size: 1rem;
  width: 100%;
  padding: 1.2rem 1.1rem 1rem 1.8rem;
  border: 1px solid hsla(0, 0%, 59%, 30%);
  border-radius: 3rem;
}
.inputWrapper input::placeholder {
  color: hsla(0, 0%, 59%, 60%);
}
.inputWrapper input[aria-invalid='true'] {
  border-color: #e74c3c;
}
.inputWrapper button {
  height: 100%;
  width: 275px;
  padding: 1.2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--Blue500);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.inputWrapper button:disabled:hover {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.inputWrapper button:hover {
  background-color: hsl(223, 87%, 73%);
}
.error {
  font-style: italic;
  padding-left: 2rem;
  color: #e74c3c;
  font-size: 13px;
  min-height: 18px;
}
@media (width < 1000px) {
  .inputWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 0;
    gap: 0.6rem;
    margin-bottom: 4.1rem;
  }
  .inputWrapper input {
    padding: 0.6rem 0 0.6rem 2rem;
    width: 100%;
  }
  .inputWrapper input::placeholder {
    font-size: 0.75rem;
  }
  .inputWrapper button {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.75rem;
  }
}
