.inputWrapper{
    display: flex;
    width: 90%;
    gap: 1rem;
    padding: 0 0 0 1rem;
    margin-bottom: 5.3rem;
}
.inputWrapper input{
    height: 100%;
    font-size: 1rem;
    width: 58%;
    padding: 1.2rem 1.1rem 1rem 1.8rem;
    border: 1px solid hsla(0, 0%, 59%, 30%);;
    border-radius: 3rem;
}
.inputWrapper input::placeholder{
    color: hsla(0, 0%, 59%, 60%);
}
.inputWrapper button{
    height: 100%;
    width: 31%;
    padding: 1.2rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--Blue500);
    color: white;
}
@media(width < 1000px){
    .inputWrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding: 0;
        gap: .6rem;
        margin-bottom: 4.1rem;
    }
    .inputWrapper input{
        padding: .6rem 0 .6rem 2rem;
        width: 100%;
    }
    .inputWrapper input::placeholder{
        font-size: .75rem;
    }
    .inputWrapper button{
        width: 100%;
        padding: .75rem;
        font-size: .75rem;
    }
}