.logo{
    margin-bottom: 2.6rem;
}
@media(width < 1000px){
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.4rem;
    }
    .logo img{
        width: 62%;
    }
}